<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
<div class="modal-header" th:each="mv:${meetingView.meeting}">
      <h5 class="modal-title"><i class="far fa-file"></i> <span th:text="${mv.name}"></span></h5>
        <a class="btn-close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></a>
      </div>
      
      <div class="modal-body">
      	<form>
        <table>
        	<tr th:each="mv:${meetingView.meeting}">
	       		<div class="mb-3">
		            Title:<span style="float: right;" th:text="${#temporals.format(mv.create_date, 'yy-MM-dd')}" ></span>
		            <input type="text" class="form-control" th:value="${mv.name}" disabled>
	          	</div>
	           	<div class="mb-3">
	           		Participant:<input type="text" class="form-control" th:value="${mv.participant}" disabled>
	          	</div>
	          	<div class="mb-3">
	            	Contents:<textarea class="form-control" id="message-text" th:text="${mv.content}" disabled></textarea>
	          	</div>
	        </tr>
        </table>	
        </form>
        
        <span style="font-size: 13px;">※ Can't be modified on Trash tab</span>
      </div>
      <div class="modal-footer">
       
      </div>
	</body>
</html>