<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/defaultNoChat}">

<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<!-- 여기서부터 작성 시작 -->
    <div class="container-fluid">
    <div id="formContent">
		<!-- Tabs Titles -->
		<div class="fadeIn first">
			<h2><span>새 회의록 생성</span></h2>
		</div>
				
    		<form name="meeting_form" id="meeting_form" method="post" action="startMeeting">
    		<input type="text" id="mt_name" name="mt_name"  placeholder="회의명">
	    		<input type="text" id="mt_date" name="mt_date" placeholder="회의 날짜">
	    		<input type="text" id="mt_participant" name="mt_participant"   placeholder="회의 참가자">
	    		<input type="text" id="mt_content" name="mt_content" placeholder="회의 내용">
	    		<input type="submit" id="meeting_start" name="meeting_start" value="회의 시작" >
    		</form>
						
						
				
	</div>
    </div>
                
    <!-- 추가 -->
    <script th:src="@{js/newMeeting.js}"></script>
    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
    
</th:block>
</html>