<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/defaultNoChat}">
<th:block layout:fragment="content">
	<!-- jQuery library -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">


	<input type=checkbox id="chk-hear-mic" style="margin-left: 20px" >
		<label for="chk-hear-mic">Monitoring</label>
    	<button id="record" >녹음</button>
    	<button id="stop" >정지</button>
    	    <div id="sound-clips" ></div>
    <!-- <div id="sound-clips"></div> -->
    <br>
	<input type="button" name="record_start" id="record_start" value="Recording start" >
	<input type="button" name="record_pause" id="record_pause" value="Recording pause" disabled="disabled" style="background-color: #ff6666 ">
	<input type="button" name="record_restart" id="record_restart" value="Recording restart" disabled="disabled" style="background-color: #ff6666 ">
	<input type="button" name="record_end" id="record_end" value="Recording end" disabled="disabled" style="background-color: #ff6666 ">
	
	<form name="actionForm" id="actionForm" hidden="" action="endRecording">
		<input type="hidden" id="inputHidden" name="inputHidden" value="">
		<input th:value="${name}" id="mt_name" name="mt_name" >
		<input th:value="${date}" id="mt_date" name="mt_date">
		<input th:value="${participant}" id="mt_participant" name="mt_participant">
		<input th:value="${content}" id="mt_content" name="mt_content">
	</form>
	

	<table style="border: 1px;" class="table table-hover table-white"
		id="speakTable">
		<thead>
			<tr>
				<th style="width: 80px">시간</th>
				<th style="width: 80px">화자</th>
				<th>내용</th>
			</tr>
		</thead>
	</table>





 	<script>
    const record = document.getElementById("record")
    const stop = document.getElementById("stop")
    const soundClips = document.getElementById("sound-clips")
    const chkHearMic = document.getElementById("chk-hear-mic")

    const audioCtx = new(window.AudioContext || window.webkitAudioContext)() // 오디오 컨텍스트 정의

    const analyser = audioCtx.createAnalyser()
    //        const distortion = audioCtx.createWaveShaper()
    //        const gainNode = audioCtx.createGain()
    //        const biquadFilter = audioCtx.createBiquadFilter()

    function makeSound(stream) {
        const source = audioCtx.createMediaStreamSource(stream)

        source.connect(analyser)
        //            analyser.connect(distortion)
        //            distortion.connect(biquadFilter)
        //            biquadFilter.connect(gainNode)
        //            gainNode.connect(audioCtx.destination) // connecting the different audio graph nodes together
        analyser.connect(audioCtx.destination)

    }

    if (navigator.mediaDevices) {
        console.log('getUserMedia supported.')

        const constraints = {
            audio: true
        }
        let chunks = []

        navigator.mediaDevices.getUserMedia(constraints)
            .then(stream => {

                const mediaRecorder = new MediaRecorder(stream)
                
                chkHearMic.onchange = e => {
                    if(e.target.checked == true) {
                        audioCtx.resume()
                        makeSound(stream)
                    } else {
                        audioCtx.suspend()
                    }
                }
                
                record.onclick = () => {
                    mediaRecorder.start()
                    console.log(mediaRecorder.state)
                    console.log("recorder started")
                    record.style.background = "red"
                    record.style.color = "black"
                }

                stop.onclick = () => {
                    mediaRecorder.stop()
                    console.log(mediaRecorder.state)
                    console.log("recorder stopped")
                    record.style.background = ""
                    record.style.color = ""
                }

                mediaRecorder.onstop = e => {
                    console.log("data available after MediaRecorder.stop() called.")

                    const clipName = prompt("오디오 파일 제목을 입력하세요.", new Date())

                    const clipContainer = document.createElement('article')
                    const clipLabel = document.createElement('p')
                    const audio = document.createElement('audio')
                    const deleteButton = document.createElement('button')

                    clipContainer.classList.add('clip')
                    audio.setAttribute('controls', '')
                    deleteButton.innerHTML = "삭제"
                    clipLabel.innerHTML = clipName

                    clipContainer.appendChild(audio)
                    clipContainer.appendChild(clipLabel)
                    clipContainer.appendChild(deleteButton)
                    soundClips.appendChild(clipContainer)

                    audio.controls = true
                    const blob = new Blob(chunks, {
                        //'type': 'audio/ogg codecs=opus'
                        'type': 'audio/mpeg'
                    })
                    chunks = []
                    const audioURL = URL.createObjectURL(blob)
                    audio.src = audioURL
                    console.log("recorder stopped")

                    deleteButton.onclick = e => {
                        evtTgt = e.target
                        evtTgt.parentNode.parentNode.removeChild(evtTgt.parentNode)
                    }
                }

                mediaRecorder.ondataavailable = e => {
                    chunks.push(e.data)
                }
            })
            .catch(err => {
                console.log('The following error occurred: ' + err)
            })
    }
    </script>
























<script type="text/javascript">
$(document).ready(function(){
	var temp='';
	var repeatflag=false;
	$("#record_start").click(function(){
		$("#record_start").val("Recording");
		$("#record_start").attr("disabled","disabled");
		$("#record_start").css({ background:"#ff6666" , color:"#ffffff" });
		$("#record_pause").attr("disabled",false);
		$("#record_pause").css({ background:"#56BAED" , color:"#ffffff" });
		$("#record_end").attr("disabled",false);
		$("#record_end").css({ background:"#56BAED" , color:"#ffffff" });
		$.ajax ({
			url : "startRecording",
			type : "post",
			success : function(html){
			}
		});
	});
	timer = setInterval( function () {
	    $.ajax ({
			url : "infiniteReq",
			type : "get",
			success : function (html) {
				if(repeatflag==false){
					repeatflag=true;
					temp=html.content;
				}
				
	        	if(temp != html.content){
	        		temp=html.content;
	        		
		        	if(html.length != 0){
		        		var htm = '';
		        		//console.log(html.content);
		        		
		        		htm += '<tr>';
		        		htm += '<td>'+html.time+'\t'+'</td>';
		        		htm += '<td>'+'speaker'+html.speaker+'</td>';
		        		htm += '<td>'+html.content+'</td>';
		        		
		        		htm += '</tr>';
		        		htm += '<tr>';
		        		htm += '<td colspan="3"><input  type="text" style="height:5px; width:2000px; text-align:left;"></textarea></td>';
		        		htm += '</tr>';
		        		
		        		$("#speakTable").append(htm);
		        	
					}
				}
			} 
		});
	}, 500);
});

$("#record_pause").click(function(){
		$.ajax ({
			url : "pauseRecording",
			type : "post",
			success : function(html){
				$("#record_pause").attr("disabled",true);
				$("#record_pause").css({ background:"#ff6666" , color:"#ffffff" });
				$("#record_restart").attr("disabled",false);
				$("#record_restart").css({ background:"#56BAED" , color:"#ffffff" });
			}
		});
});

$("#record_restart").click(function(){
	$.ajax ({
		url : "restartRecording",
		type : "post",
		success : function(html){
			$("#record_pause").attr("disabled",false);
			$("#record_pause").css({ background:"#56BAED" , color:"#ffffff" });
			$("#record_restart").attr("disabled",true);
			$("#record_restart").css({ background:"#ff6666" , color:"#ffffff" });
		}
	});
});

$("#record_end").click(function(){
	var memo;
	var dataArrayToSend = [];
	var meetingId=$("#meetingId").val();

	$("#speakTable tr").each(function(){
	var len = $(this).find("td").length;
		if(len==1){
			var memostr = $(this).find("td").eq(0).find('input[type="text"]').val();
			if(memostr.length != 0){
				memo = {memo:memostr};
				dataArrayToSend.push(memo);
				
			}
		}
	});
	
	var list={list:dataArrayToSend};
	
	var formObj = $("form[name='actionForm']");
	
	$("#inputHidden").attr("value",JSON.stringify(list));
	formObj.attr("method", "post");
	formObj.submit();

	
	
	
	//location.href("")
	/* $.ajax ({
		url : "endRecording",
		type : "post",
		success : function(html){
			$("#record_pause").attr("disabled",true);
			$("#record_pause").css({ background:"#ff6666" , color:"#ffffff" });
			$("#record_restart").attr("disabled",true);
			$("#record_restart").css({ background:"#ff6666" , color:"#ffffff" });
			$("#record_end").attr("disabled",true);
			$("#record_end").css({ background:"#ff6666" , color:"#ffffff" });
			alert("녹음을 종료합니다(현재 시간으로 엑셀파일 생성됨)");
			
		}
	}); */
});

</script>

</th:block>
</html>