<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="chatbotFragment">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- chatbot -->
	<div id="chat-circle" class="btn btn-raised">
		<span class="material-icons">question_answer</span>
	</div>
	
	<div class="chat-box">
		<div class="chat-box-header">
			<span>
				<a style="font-size: 15px; padding-left: 20px;" id="vonoFAQ" class="fas fa-robot" >
					<span style="font-size: 5px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">FAQ </span>
				</a>
				<span style="padding-left: 55px;">VONOBOT</span>
			</span>
			<span class="chat-box-toggle"><i class="material-icons">close</i></span>
		</div>
		
		<div class="chat-box-body">
			<div class="messages">
			<ul>
			</ul>
		</div>
		</div>
		
		<div class="chat-input">      
			<form> 
				<input type="text" id="chat-input" placeholder="Ask vonobot a question!"/>
				<button type="button" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
			</form>      
		</div>
		
	</div>
	<!-- End of chatbot -->

	
</th:block>
</html>