<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/defaultHome}">


<th:block layout:fragment="content">

 <link th:href="@{/css/signUp.css}" rel="stylesheet">

	<!-- Begin Page Content -->
	<!-- 여기서부터 작성 시작 -->
    <div class="container-fluid">
     <div class="signup-form">
		    <form action="/signUp" method="post" name="meberJoinForm" class="form-horizontal" enctype="multipart/form-data">
		      	<div class="row">
		        	<div class="col-8 signuptitle">
						<h2>SignUp</h2>
					</div>	
		      	</div>			
		        <div class="form-group row">
					<label class="col-form-label col-4">ID</label>
					<div class="col-8">
		                <input type="text" class="form-control" id="user_id" name="login_id" placeholder="4~12, 영어대소문자, 숫자가능" required="required">
		            </div>            
		            <div id="usingId_chk"></div>
		        </div>
		
				<div class="form-group row">
					<label class="col-form-label col-4">Password</label>
					<div class="col-8">
		                <input type="password" class="form-control" id="user_pwd" name="pw" placeholder="4~12, 영어대소문자, 숫자가능" required="required">
		            </div>   	
		            <div id="pwd_chk"></div>
		        </div>
				<div class="form-group row">
					<label class="col-form-label col-4">Password confirm</label>
					<div class="col-8">
		                <input type="password" class="form-control" id="user_cpwd" name="confirm_pwd">
		            </div>        	
		            <div id="cpwd_chk"></div>
		        </div>
		        
		        <div class="form-group row">
					<label class="col-form-label col-4">User Name</label>
					<div class="col-8">
		                <input type="text" class="form-control" name="name" >
		            </div>        	
		        </div>
		        
		        <div class="form-group row">
					<label class="col-form-label col-4">E-mail</label>
					<div class="col-8">
		                <input type="email" class="form-control" id="user_mail" name="email" placeholder="vono@vono.com" >
		            </div>        	 
		            <div id="mail_chk"></div>
		        </div>
		        <div class="form-group row">
					<label class="col-form-label col-4">Phone</label>
					<div class="col-8">
		                <input type="tel" class="form-control" id="user_phone" name="phone" placeholder="010-1234-5678" >
		            </div>   
		            <div id="phone_chk"></div>     	
		        </div>
		        <div class="form-group row">
					<label class="col-form-label col-4">Job</label>
					<div class="col-8">
		                <input type="job" class="form-control" id="user_job" name="job" placeholder="vono co." >
		            </div>   
		            <div id="phone_chk"></div>     	
		        </div>
				
				<div class="form-group row">
					<div class="col-8 offset-4">
						<p><label class="form-check-label"><input type="checkbox" name="info" required="required"><a id="agree" href="javascript:agree();">개인정보취급방침</a>에 동의하십니까?</label></p>
						<button type="submit" id="submit1" class="btn btn-primary btn-lg">SignUp</button>
					</div>  

					
					<!-- 개인정보방침 modal창 내용 -->  
					<div id="dialog" title="개인정보취급방침">
						<p>
						1. Collection personal information items : company name, person in charge, e-mail address, phone number, homepage address, fax number, address. <br />
						2. Purpose of collection and use of personal information : Identification of identity according to the application for partnership and securing a smooth communication path. <br />
						3. Personal information usage period: After all reviews are completed, the information shall be stored for three months for the user's inquiry, and the relevant information shall be destroyed without delay. <br />
						4. Other matters comply with the privacy policy.
						</p>
					</div>

				</div>	      
		    </form>
			<div class="text-center"> Already have account? <a href="/">Sign In</a></div>
		</div>
    </div>
   

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</th:block>
</html>