body {
  background: #eee;
}

div.testobj {
  background: #fff;
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  position: relative;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
}

.cmenu {
  position: absolute;
  display: inline-block;
  width: 180px;
  background-color: #fff;
  box-shadow: 1px 2px 3px #aaa;
}

.cmenu * {
  transition: color .15s, background .4s;
}

.item {
  position: relative;
  height: 48px;
  line-height: 48px;
  color: #2186fa;
  font-family: Roboto, Arial, sans-serif;
  cursor: pointer;
}

.item:last-child {
  padding-bottom: 5px;
}

.item.disabled,
.item.disabled .label {
  color: #e5e5e5;
  cursor: default;
}

.item .label {
  padding-left: 12px;
}

.item ul.options {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 50;
  background: #fff;
  position: relative;
  left: calc(50% - 24px);
  top: -24px;
  box-shadow: 1px 2px 3px #aaa;
}

.item ul.options li {
  height: 40px;
  text-indent: 5px;
  position: relative;
}

.item ul.options li:last-child {
  border-top: 1px solid rgba(77, 144, 254, 0.2);
}

h1.title {
  font-size: 4em;
  color: #4D90FE;
}

h2.title {
  font-size: 1.2em;
  color: #4F4F4F;
}

.header-font {
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}